body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Keep content visible below navbar */
main {
    flex: 1;
    display: flex;
    justify-content: space-between;
    padding: 40px 80px;
    gap: 40px;
}

/* LEFT SECTION */
.left-section {
    width: 40%;
    background-color: rgba(255,255,255,0.6);
    padding: 30px;
    border-radius: 10px;
    display: flex;
   flex-direction: column;
   justify-content: center; /* vertical center */
   align-items: center;     /* horizontal center */
   text-align: center;
}

.left-section h1 {
    margin-bottom: 10px;
}

/* CONTACT BOX */
.contact-box {
    width: 35%;
    background-color: #144c77;
    color: white;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-box h2 {
    margin-bottom: 20px;
}

/* FORM INPUTS */
.name-row {
    display: flex;
    gap: 10px;
    width: 100%;
}

.name-row input {
    flex: 1;
}

.contact-box input,
.contact-box textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 6px;
    font-size: 14px;
    box-sizing: border-box;
}

/* TEXTAREA */
#submit-question {
    min-height: 110px;
    max-height: 200px;
    resize: vertical;
}

/* PLACEHOLDER STYLING */
.contact-box input::placeholder,
.contact-box textarea::placeholder {
  color: #666;
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
}

/* BUTTON */
.contact-box button {
    width: 50%;
    margin-top: 5px;
    padding: 12px;
    background: white;
    color: #144c77;
    border: none;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
}

/* MOBILE VIEW */
@media (max-width: 900px) {
    main {
        flex-direction: column;
        padding: 20px;
        align-items: center;
    }

    .left-section,
    .contact-box {
        width: 100%;
    }

    .name-row {
        flex-direction: column;
    }

    .contact-box button {
        width: 70%;
    }
} 