p{
    color: #000000;
    text-align: center;
    font-family: "Monaco", monospace;
}

h1,h2{
    color: #000000;
    text-align: center;
    font-family: "Monace", monospace;
}

body {
  background-image: url('../../images/Underwater3.webp');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

div {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 25px 10px 25px 10px;
    border-radius: 15px;
}

  #navbar-container, #footer-container {
    background: none;
    padding: 0;
    border-radius: 0;
    line-height: 1.6;
}

#copyright {
  font-family: Arial, Helvetica, sans-serif;
}